/* Custom Css Start */
#region-content{margin-top: 10px;}
#region-content .region-content-inner .title{background-color: #993300; color: #fff; font-family: Verdana,Helvetica,Arial,sans-serif; font-size: 14px; font-weight: lighter; padding: 4px 10px; text-transform: uppercase;}
#region-sidebar-second{margin-top: 5px;}
#zone-menu a:hover, #zone-menu a:focus, #zone-menu a:active {font-weight: normal !important;}
.section-footer .menu a{background-color: #993300; color: #fff; padding: 5px 15px;}
.section-footer ul li.leaf {list-style-image: none; list-style-type: none; width:auto; float:left;}
.section-content .views-field{margin-left: 0;}
.section-footer .block-inner .content {padding: 10px 0;}
.section-content #user-login input#edit-submit{background: #993300 !important; border: medium none !important; border-radius: 4px; color: #fff; padding:6px 10px; text-shadow: none !important;}
.section-content #user-pass input#edit-submit{background: #993300 !important; border: medium none !important; border-radius: 4px;color: #fff; padding:6px 10px; text-shadow: none !important;}
#zone-menu .sf-menu.sf-style-default {margin-bottom: 0;}
#zone-menu a:link, #zone-menu a:visited{line-height: 24px;} 
.section-content .region-sidebar-first-inner #block-block-15{display:none;}
.section-content .region-sidebar-second .block.block-block.block-18{height:auto !important;}
.section-content .block.block-block.block-11{height: auto !important;}
.page-blogs .views-table .odd td:first-child{float: left; padding:2% 1%; width: 18%;}
.page-blogs .views-table .odd td:last-child{float: right; padding:0 1%; width: 78%; text-align: left;}
.page-blogs .views-table .even td:first-child{float: left; padding:2% 1%; width: 18%;}
.page-blogs .views-table .even td:last-child{float: right; padding:0 1%; width: 78%; text-align: left;}
.page-blogs .views-table  td img{width: 100% !important;} 
.block-inner .content {padding: 5px 0 !important;}
#region-sidebar-second h2.block-title {padding: 5px 0;}
.views-table tr.odd {background-color: #fff;}
.views-table tr.even {background-color: #f1f5fa;}
.page-node-1510 .section-content .field-items .field-item img{width:100% !important;}
.page-node-1714 .section-content .field-items .field-item p:first-child{width:49%; float:left;}
.page-node-1714 .section-content .field-items .field-item p{width:49%; float:right;}
.region-sidebar-second-inner #ccoptin input{width:100%;}
.region-sidebar-second-inner #ccoptin .submit{background: none repeat scroll 0 0 #fff !important; border-radius: 0; float: right; margin: 4px 0px; padding: 3px 10px; width:auto;}
.page-node-1533 .views-table tr td{float: left; padding: 2%; width: 29%;}
.page-node-1533 .views-table tr td img{width:100% !important;}
table {width: 100% !important;}
/* Custom Css Ends */

/* Responsive Css Start */
@media only screen and (max-width: 1024px) {
	body {min-width: 100% !important; width:100% !important;}
	.section-header .logo-img {float: left; margin-right: 0; width: 100%;}
	.section-header .logo-img img{width:100%;}
	.section-header .container-16 {width: 96%;}
	.section-header .container-16 .grid-16 {margin:0 2%; width: 96%; height: auto !important;}
	.section-content .container-16 .grid-12 {width: 100%; margin:0px;}
	.section-content .container-16 .grid-4 {margin: 0; width: 23%; height: auto !important;}
	.section-content .container-16 .grid-12 {margin: 0 2%; width: 71%;}
	.page-user .section-content .container-16 .grid-16 {margin: 0 2%; width: 96%;}
	.section-content .container-16 .grid-8 {height: auto !important; margin: 0 1%; width: 46%;}
	.page-rug-search .section-content .container-16 .grid-4 {margin: 0 2%; width: 22%;}
	.page-rug-search .views-exposed-form .views-exposed-widget {padding: 4px 0;}	
	.section-content .block.block-block.block-11{height: auto !important; width: 100% !important;}
	.section-content .region-sidebar-second .block.block-block.block-19{height: auto !important;}
	.section-content .region-sidebar-second .block.block-block.block-18{height: auto !important;}	
	.section-content .container-16{width: 96%;}
	.section-footer .container-16 .grid-16 {margin: 0 2%; width: 96%;}
	.section-footer .container-16{width:100%;}	
	.section-content .views-slideshow-cycle-main-frame-row{width:100% !important;}	
	.section-content .field-content img{width:100% !important;}
	.section-content .block.block-block {float: left !important; margin: 0 !important; text-align: center;
    width: 33% !important;}
	.section-content .block.block-block img{height:340px !important;}
	.section-content #block-block-19 img{height:auto !important;}
	.section-content .region-sidebar-second .block.block-block.block-19{width:100% !important;}
	.section-content .region-sidebar-second .block.block-block.block-18{width:100% !important;}
	.section-content .region-sidebar-second #block-views-blog-titles-block{width:100% !important; float:left; height: auto !important;}
	.section-content #views_slideshow_cycle_teaser_section_slideshow_front-block{width:100% !important;}
	.section-content .block.block-block.block-20{width:100% !important;}
}

@media only screen and (max-width: 900px) {
	#zone-menu a:link, #zone-menu a:visited{font-size: 12px; padding: 10px;}
	.section-content .container-16 .grid-4 {margin: 0 2%; width: 96%; height:auto !important;}
	.section-content .container-16 .grid-12 {margin: 0 2%; width: 96%; height:auto !important;}
	.section-content .region-sidebar-second .block.block-block.block-19{width:50% !important; height:auto !important;}
	.section-content .region-sidebar-second .block.block-block.block-18{width:50% !important; height:auto !important;}
	.section-content .block.block-block.block-11{height: auto !important; width: 100% !important;}
	.section-content .container-16 .grid-8 {margin: 0 2%; width: 96%; height: auto !important;}
	.page-rug-search .section-content .container-16 .grid-4 {margin: 0 2%; width: 96%;}
}

@media only screen and (max-width: 767px) {
	body {min-width: 100% !important; width:100% !important;}
	.page{float: left; width: 100%;}
	.section-header{float: left; width: 100%;}
	.section-content .block {float: left !important; margin: 0 !important; width: 100% !important;}
	.section-content #block-block-3 .content a{float: left; text-align: center; width: 100%;}	
	.section-content .content.clearfix a{line-height: 20px;}
	.section-content .views-field {margin-left: 0;}	
	.section-content .field-item img{margin: 5px 0 !important; width: 100% !important;}
	.section-content .block.block-block {float: left !important; width: 50% !important;}
	.section-content .block.block-block.block-11{width: 100% !important;}
	.section-content ul.primary{margin:0px;}
	.section-content #user-login input{width:100%;}
	.section-content #user-pass input{width:100%;}
	.section-content #user-login input#edit-submit{float: left; width: auto;}
	.section-content #user-pass input#edit-submit{float: left; width: auto;}	
	.section-content .block .content{text-align: center;}
	.section-content .region-sidebar-second .block .content{text-align: left;}
	.page-node-1511 .section-content .block .content{text-align: left;}
	.page-node-1512 .section-content .block .content{text-align: left;}
	.section-content #views_slideshow_cycle_teaser_section_slideshow_front-block{width:100% !important;}
	.section-content .block.block-block img{height:340px !important;}
	.section-content #block-block-19 img{height:auto !important;}
	.section-content .region-sidebar-second .block.block-block.block-19{width:100% !important;}
	.section-content .region-sidebar-second .block.block-block.block-18{width:100% !important;}	
	.section-content .container-16 .grid-8 {margin: 0 2%; width: 94%;}
	.section-content .views-view-grid td{float: left; width: 30%; padding: 1.5%;}
	.section-content .views-view-grid td a{font-size: 12px;}
	.region-sidebar-second-inner #ccoptin .submit{/* float:none; */}
	.section-content .field-content img {height: auto !important;}
	.page-blogs .views-table  td img{height: auto !important;}
	.page-node-1510 .section-content .field-items .field-item img {height: auto !important;}
	.section-content .field-item img{height: auto !important;}
	
}

@media only screen and (max-width: 480px) {
	.section-content .block.block-block {float: left !important; width: 100% !important;}
	.section-content .block.block-block {height:auto !important;}
	#block-views-exp-rug-search-page .views-exposed-widgets .views-exposed-widget{padding:4px 0; width: 100%;}
	#block-views-exp-rug-search-page .views-exposed-widgets .views-submit-button{padding:4px 0; width: 45%;}
	#block-views-exp-rug-search-page .views-exposed-widgets .views-reset-button{padding:4px 0; width: 25%;}
	.block-search-form h2.block-title {font-size: 20px;}
	.page-node-1714 .section-content .field-items .field-item p:first-child{width:100%; float:left;}
	.page-node-1714 .section-content .field-items .field-item p{width:100%; float:left;}
	.front .section-content .block.block-block img{width:100% !important; height:auto !important;}
}

@media only screen and (max-width: 400px) {

		
}
/* Responsive Css Ends */